[project]
	description = Quantum Computer Simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Maenz (mmaenz)
[access "refs/for/refs/*"]
	read = group user/Michael Maenz (mmaenz)
	push = group user/Michael Maenz (mmaenz)
	label-Code-Review = -2..+2 group user/Michael Maenz (mmaenz)
	label-Verified = -1..+1 group user/Michael Maenz (mmaenz)
	rebase = group user/Michael Maenz (mmaenz)
	removeReviewer = group user/Michael Maenz (mmaenz)
	submit = group user/Michael Maenz (mmaenz)
[access "refs/heads/*"]
	read = group user/Michael Maenz (mmaenz)
	create = group user/Michael Maenz (mmaenz)
	push = +force group user/Michael Maenz (mmaenz)
	pushMerge = group user/Michael Maenz (mmaenz)
[access "refs/tags/*"]
	push = group user/Michael Maenz (mmaenz)
	push = +force group user/Michael Maenz (mmaenz)
